---
http_interactions:
- request:
    method: post
    uri: https://cbr.ru/DailyInfoWebServ/DailyInfo.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <KeyRateXML xmlns="http://web.cbr.ru/">
              <fromDate>2024-01-29</fromDate>
              <ToDate>2024-02-05</ToDate>
            </KeyRateXML>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><KeyRateXMLResponse
        xmlns="http://web.cbr.ru/"><KeyRateXMLResult><KeyRate xmlns=""><KR><DT>2024-02-05T00:00:00+03:00</DT><Rate>16.00</Rate></KR><KR><DT>2024-02-02T00:00:00+03:00</DT><Rate>16.00</Rate></KR><KR><DT>2024-02-01T00:00:00+03:00</DT><Rate>16.00</Rate></KR><KR><DT>2024-01-31T00:00:00+03:00</DT><Rate>16.00</Rate></KR><KR><DT>2024-01-30T00:00:00+03:00</DT><Rate>16.00</Rate></KR><KR><DT>2024-01-29T00:00:00+03:00</DT><Rate>16.00</Rate></KR></KeyRate></KeyRateXMLResult></KeyRateXMLResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 05 Feb 2024 09:13:41 GMT
[...]
